### Verification {#sec:verification}

> "We verified the framework by performing a convergence analysis. As the number of phase screens was increased, the beam wander and PDT statistics reached a stable plateau, indicating that the discretization errors of the split-step method were minimized and the simulation effectively represents the continuous turbulent medium."

>- [ ] Interscreen distance - used in the tables!
>     - "The inner and outer bounds of the spectrum are $K_\mathrm{min}=1/15 L_0$ and $K_\mathrm{max}=2/\ell_0$, respectively"
>     - "The number of phase screens is chosen from the condition that the Rytov parameter for the interscreen distance does not exceed $0.1$ (cf.~Refs.~\cite{Schmidt_book,Martin1988}). It is equal to 10"
>         - the Rytov parameter for the interscreen distances in these cases are $3\times10^{-3}$
>     -  ^[@Schmidt_book; @Martin1988]

